body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/57f29615e4fcb56c1eefece4/1593436663878-RY2TCTE0Q0J3REO794KH/ke17ZwdGBToddI8pDm48kF4XtxOLLR8aR78eMG5-IV97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0gmXcXvEVFTLbYX9CdVcGe4Tgp4a5zD8fms7Q7be5gX4BAPrsmjIdaV7Yto05FOgVw/The-Moon-and-Me.jpg?format=2500w");
  background-position: 50% 50%;
  background-repeat: none;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 600px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 6px rgba(0, 0, 0, 0.3);
  background: #1a4176;
  opacity: 95%;
  background: radial-gradient(
    circle farthest-corner at bottom center,
    #1a4176 0%,
    #102841 80%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at bottom center,
    #1a4176 0%,
    #102841 80%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at bottom center,
    #1a4176 0%,
    #102841 80%
  );
  color: rgb(214, 200, 153);
}

h5,
h6,
p,
form,
.degrees {
  margin-left: 20px;
}

h5,
p,
h6,
footer,
.units,
#weeklyweather,
#weeklytemp {
  font-family: "Poiret One", cursive;
}

.degrees {
  font-size: 120px;
  font-family: "Big Shoulders Inline Display", cursive;
  color: #ff9a12;
}

h5 {
  font-size: 50px;
}

h6 {
  margin-bottom: 0px;
}

p,
footer {
  font-size: 18px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  text-shadow: #102841 5px 5px 5px;
}

ul,
li {
  margin: 0 auto;
  padding: 0px;
  list-style: none;
}

li {
  display: inline;
}

a {
  color: #ff9a12;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #ff9a12;
}

a:hover {
  border-bottom: 1px solid;
}

.units {
  font-size: 20px;
}

.row {
  padding: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#okbutton,
#currentcitybtn {
  color: rgb(214, 200, 153);
}

#searchbox {
  margin-bottom: 20px;
}

#currentcity {
  width: 140px;
}

#icon {
  padding-top: 50px;
}

#city-box,
#weeklyweather {
  margin-top: 60px;
}

#weeklyweather,
#weeklytemp,
#weeklyicon {
  text-align: center;
}
