body {
  background-repeat: no-repeat;
  vertical-align: center;
  background-image: url("https://images.squarespace-cdn.com/content/v1/57f29615e4fcb56c1eefece4/1593436663878-RY2TCTE0Q0J3REO794KH/ke17ZwdGBToddI8pDm48kF4XtxOLLR8aR78eMG5-IV97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0gmXcXvEVFTLbYX9CdVcGe4Tgp4a5zD8fms7Q7be5gX4BAPrsmjIdaV7Yto05FOgVw/The-Moon-and-Me.jpg?format=2500w");
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 600px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 6px rgba(0, 0, 0, 0.3);
  background: #1a4176;
  background: radial-gradient(
    circle farthest-corner at bottom center,
    #1a4176 0%,
    #102841 80%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at bottom center,
    #1a4176 0%,
    #102841 80%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at bottom center,
    #1a4176 0%,
    #102841 80%
  );
  color: rgb(214, 200, 153);
}

h1,
h5,
h6,
p,
form {
  margin-left: 20px;
}

h5,
p,
h6,
footer,
#weeklyweather,
#weeklytemp {
  font-family: "Poiret One", cursive;
}

h1 {
  font-size: 120px;
  font-family: "Big Shoulders Inline Display", cursive;
  background-image: linear-gradient(
    to right,
    #ff9a12 5%,
    #faea00 60%,
    #b47100 35%
  );
  color: transparent;
  -webkit-background-clip: text;
}

h5 {
  font-size: 50px;
}

h6 {
  margin-bottom: 0px;
}

p,
footer {
  font-size: 18px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  text-shadow: #102841 5px 5px 5px;
}
.row {
  padding: 0px;
}

#okbutton,
#currentcity {
  color: rgb(214, 200, 153);
}

#searchbox {
  margin-bottom: 20px;
}

#currentcity {
  width: 140px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#weeklyweather {
  margin-top: 150px;
}

#weeklyweather,
#weeklytemp,
#weeklyicon {
  text-align: center;
}
